# 우리가 실제로 접하게 되는 데이터는 사이킷런에서 제공하는 데이터와는 다르게 머신러닝을 적용하기 전에 데이터를 가공해야 하는 경우가 많음
- 데이터 전처리, 피터 인지니어링 등으로 브름

# 1. 결측치 처리
- 데이터 셋의 일부에 데이터가 존재하지 않는 경우 해당 데이터를 결측치(missing value)라고 함

In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame([ # DataFrame 함수 내부의 각 리스트는 데이터 프레임의 행에 해당함
    [42, 'male', 12,'reading','class2'],
    [35, 'unknown', 3,'cooking', 'class1'],
    [1000, 'female', 7,'cycling', 'class3'],
    [1000, 'unknown', 21,'unknown', 'unknown']
])
df.columns=['age',
            'gender',
            'month_birth',
            'hobby','target']
df

    age   gender  month_birth    hobby   target
0    42     male           12  reading   class2
1    35  unknown            3  cooking   class1
2  1000   female            7  cycling   class3
3  1000  unknown           21  unknown  unknown

In [9]:
df['age'].unique() # 각 열의 유니크 값으로 데이터를 확인

array([  42,   35, 1000])